.footer
{
    width: 100%;
    height: 150px;
    background-color: #191970;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.socialMedia svg 
{
    color: rgb(218, 165, 21);
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}

.footer p
{
    color: rgb(218, 165, 21);
    font-weight: bold;

}